@media screen and (max-width:480px){
  .navs{
    height: 40px;
  }
  .global-nav{
    padding:0 3px;
    width:100%;
  }
  .nav-item a{
    width:100%;
    padding:0;
  }
  .nav-item{
    width:60px;
    line-height:40px;
    font-size:10px;
  }

  /* news */
  .news{
    padding: 0 10px 30px;
  }
  .news-boxs{
    flex-wrap:wrap;
  }
  /* times */
  .times-contents{
    padding: 30px 30px;
    display: block;
    margin:0 auto;
  }
  .times img{
    width:100%;
  }
  /* money */
  .money{
    padding:0 10px 30px;
  }
  .money-contents{
    display: block;
  }
  table,
  .money-text{
    margin:0 auto;
  }
  /* access */
  .access-content{
    padding:30px 30px;
    display: block;
  }
  .access-map{
    width:100%;
  }
  .time-schedule{
    margin-bottom:30px;
  }
  /* question */
  .question{
    padding:50px 30px;
    text-align:center;
  }  
  .btn{
    display: inline-block;
    font-size:15px;
    padding:8px 12px;
    margin:0 5px;
  }

  /* footer */
  .footer{
    padding:10px 3px;
  }
  .footer .nav-item a{
    font-size:11px;
    padding:1px;
  }
  .footer .nav-item{
    line-height:20px;
    width:73px;
  }
  small{
    font-size:8px;
  }
}
