@charset "UTF-8";
body{
  color:#455B79;
  font-family:Lato, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap{
  overflow: hidden;
}
a{
  text-decoration: none;
  color:#DAA520;
  border-bottom:1px solid #DAA520;
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* header */
.header{
  position: relative;
}
.navs{
  text-align: right;
  background-color:#073468;
/* navがiline-blockなので、親要素でtext-align:centerしないと右側にできなかった */
}
.global-nav{
  padding:0 60px;
}
.nav-item a{
  display:block;
  width:100%;
  border-bottom:none;
  color:#fff;
  padding:15px 2px;
}
.nav-item{
  display: inline-block;
  width:100px;
  line-height:30px;
  text-align:center;
}
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover{
  background-color:#fff;
  color:#073468;
}

#top-img{
  height:700px;
  width:100%;
}
.top{
  position:relative;
}
.top-title{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color:#fff;
  font-size:40px;
  font-family: "M PLUS Rounded 1c";
  letter-spacing:4px;
  text-align: center;
  line-height:50px;
  width:100%;
}
/* main */
.section-title{
  display:block;
  text-align: center;
  font-size:25px;
  letter-spacing: 1px;
  padding:50px 0 10px 0;
}
.fas{
  font-size:30px;
  padding-right:10px;
}
/* news */
.news{
  padding: 0 80px 50px;
}
.news-boxs{
  display: flex;
  justify-content:space-around;
}
.news-box{
  position: relative;
  vertical-align:top;
  width:210px;
  height:300px;
  box-shadow:6px 6px 8px -4px rgba(0,0,0,0.15);
  margin:10px 0;
}
.news-box:hover{
  opacity:0.8;
}
.news-box img{
  display: block;
  width:100%;
}
.news-box h3,
.news-box p{
  line-height:1.2;
  color:#455B79;
}
.news-box h3{
  padding:10px 5px;
  font-size:18px;
  text-align: center;
}
.news-box p{
  padding:0 5px;
  font-size:13px;
  /* 3行目以降は・・・で省略する */
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
  overflow:hidden;
}
.date{
  position: absolute;
  bottom:10px;
  right:10px;
  display: block;
  text-align: right;
  font-size:15px;
  padding:10px 10px 0 0;
  color:#455B79;
}
/* times */
.times{
  background-color:#eee;
  padding-bottom:50px;
}
.times-contents{
  padding: 30px 80px 0;
  line-height:2.0;
  display: flex;
  justify-content:space-around;
}
.times img{
  height:300px;
}
.times h3,
.access-text h3{
  display: inline;
  font-size:20px;
  padding-right:10px;
  border-bottom:2px solid #073468; 
}
.times h3::before,
.access-text h3::before{
  content:"";
  border-left:10px solid #073468; 
  padding-right:10px;
}
/* money */
.money{
  padding:0 80px 50px;
}
.money .section-title{
  padding-bottom:50px;
}
.money-contents{
  display: flex;
  justify-content:space-around;
}
.money-text{
  width:100%;
  line-height:1.5;
}
.money-text p{
  padding-top:15px;
}
table{
  box-shadow:6px 6px 8px -4px rgba(0,0,0,0.15);
}
th{
  font-size:18px;
  text-align:center;
  font-weight:normal;
}
td{
  font-size:15px;
  text-align:right;
}
th,td{
  padding:15px 15px;
  border-bottom:2px solid #073468;
}
.blue-font{
  background-color:#073468;
  color:white;
}
/* access */
.access{
  background-color:#eee;
  padding-bottom:20px;
}
.access-content{
  padding:30px 80px;
  display: flex;
  justify-content:space-around;
}
.access-map{
  width:500px;
  height:430px;
  box-shadow:6px 6px 8px -4px rgba(0,0,0,0.15);
}
.access-text{
  width:380px;
  line-height:2.0;
  padding-right:30px;
}
.access-text h3{
  font-size:18px;
  padding-top:10px;
}
.access-text p{
  font-size:15px;
}
.time-schedule a{
  color:white;
}
.time-schedule{
  display: inline-block;
  background-color:#DAA520;
  border:2px solid #DAA520;
  margin-top:20px;
  padding:5px 10px;
}
.time-schedule:hover{
  opacity:0.7;
}
/* question */
.question{
  padding:50px 200px;
  text-align:center;
}
.question a{
  border-bottom: none;
}
.btn{
  display: inline-block;
  background-color:#073468;
  color:#fff;
  font-size:20px;
  padding:10px 25px;
  margin:0 10px;
  box-shadow:6px 6px 8px -4px rgba(0,0,0,0.15);
}
.btn2{
  background-color:#D9E5FF;
  color:#073468;
}
.btn:hover{
  opacity:0.7;
}
/* footer */
.footer{
  background-color:#073468;
  color:white;
  text-align:center;
  padding:0 200px 20px;
}
.footer .nav-item a{
  color:white;
  font-size:15px;
}
.footer .nav-item a:hover{
  opacity:0.7;
}
small{
  font-size:13px;
}

span a:hover{
  background-color:#DAA520;
  color:#fff;
  padding:3px;
}
